
/* Main div for Footer */
.MainDiv{
    width: 100%;
    height: 400px;
    /* margin: auto; */
    font-family: 'Roboto' sans-serif;
    font-size: 14px;
    border-top: 2px solid #e742a8;
    background-color: #232323;
    color: white;
}

/* Upper Part with Data */
.UpperDiv{
    width: 90%;
    height: 280px;
    margin: auto;
    display: flex;
    text-align: left;
    justify-content: space-around;
    /* border: 2px solid yellow; */
}
.UpperDiv>div{
    width: 60%;
    /* border: 2px solid gray; */
    margin-right: 20px;
}
.UpperDiv>div:first-child>h4{
    margin-left: 19px;
}
.underline>li{
    color: lightgray;
    margin-left: -20px;
    line-height: 25px;
    cursor: pointer;
}
.underline>li:hover{
    color: #e742a8;
}
.dashed{
    width: 50px;
    margin-left: 0px;
    border-bottom: 1px dashed #e742a8;
    border-top: none;
    border-left: none;
    border-right: none;
}
.UpperDiv>div:first-child>.dashed{
    margin-left: 20px;
}
.icons{
    color: #dd0285;
    margin-left: 12px;
    cursor: pointer;
    width: 10%;
    justify-content: left;
    height: 25px;
}


/* Lower Part with image */
.LowerDiv{
    width: 90%;
    margin: auto;
    height: 80px;
    display: flex;
    border-top: 2px solid white;
}
.LowerDiv>div{
    width: 100%;
    height: 80px;
    /* border: 2px solid saddlebrown; */
}
.setimage{
    width: 100%;
    height: 20px;
    margin-top: 25px;
    text-align: left;
    /* border: 1px solid white; */
}
.setimage > img{
    width: 40%;
    height: 25px;
}
.sizing{
    width: 45%;
    height: 50px;
    margin-left: 15px;
    font-size: medium;
    padding-left: 20px;
    border: none;
    border-top-left-radius: 3px;
    border-end-start-radius: 3px;
}
.btn{
    height: 52px;
    width: 18%;
    padding: 0px 20px;
    font-size: medium;
    font-weight: bold;
    background-color: #dd0285;
    color: white;
    border: none;
    border-end-end-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
}
.btn:hover{
    color-interpolation-filters: linearRGB;
}


.LowestDiv{
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top: 1px solid gray;
}
.LowestDiv>p{
    color: gray;
    text-align: center;
}