.check{
    display: grid;
    grid-template-columns: repeat(1, 2fr 1fr);
}

.firstCheck{
    /* border: 1px solid red; */
    width: 90%;
    padding-left: 20px ;
}
.firstCheck>div{
    display: flex;
    margin-top: 20px;
    /* flex-direction: row-reverse; */
    justify-content: space-around;
}

.btn{
    width: 10%;
    height: 30px;
    border: none;
    background-color: #444444;
    color: white;
}

.secondCheck{
    display: flex;
    flex-direction: column;
}

.cartData{
    padding-left: 20px;
    background-color: lightgray;
    margin: auto;
    width: 90%;
    height: 300px;
}
.cartData>div{
    width: 100%;
    height: 120px;
}

.shippingAddress{
    padding-left: 20px;
    width: 90%;
    height: 250px;
    margin: auto;
    /* justify-content: center; */
    background-color: lightgray;
}

.lastCatch{
padding-left: 20px;
    background-color: lightgray;
    margin: auto;
    width: 90%;
    height: 120px;
}
hr{
    color: black;
    /* border: solid black; */
}