* {
  font-family: "Roboto", sans-serif;
}

label,
p,
span {
  color: rgb(44, 37, 37);
}

#mainContainer {
  display: flex;
  column-gap: 10px;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  background-color: whitesmoke;
  text-align: left;
  padding-top: 10px;
}

#mainImg {
  background: white;
  width: 44%;
  height: 28%;
}

#mainImg > img {
  width: 83%;
  height: 95%;
}

#detailDiv {
  background: white;
  flex-grow: 1;
  padding: 0 10px;
}


/* span works starts here */
#spanDiv {
  display: flex;
  gap: 10px;
}

#spanDiv > img {
  margin-top: -5px;
}

#spanDiv > span {
  font-size: 12px;
  cursor: pointer;
  height: 12px;
  color: rgb(221, 2, 133);
  /* border-right: 1px solid gray; */
  /* padding-right: 8px; */
}
#spanDiv > span:last-child {
  border-left: 1px solid rgb(221, 2, 133);
  padding-left: 8px;
}

#stockDetail {
  margin-top: 15px;
  font-size: 14px;
}

#stockDetail > span {
  color: rgb(221, 2, 133);
}

#stockKeep > p {
  font-size: 14px;
}

/* span works ends here */
#productTitle {
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 0;
}

#productPrice {
  color: rgb(221, 2, 133);
  font-weight: bold;
  margin: 5px;
}

#strikePrice {
  font-size: 14px;
  color: gray;
}

#strikePrice::before,
#price::before {
  content: "₹";
}

#strikePrice::after,
#price::after {
  content: ".00";
}

#price {
  color: rgb(212, 14, 133);
  font-size: 18px;
  font-weight: bold;
  margin: 0 5px;
}
#discount {
  color: #008000;
  font-weight: bold;
}

/* #productPrice::before {
  content: "₹";
}

#productPrice::after {
  content: ".00";
} */

#quantity {
  width: 60px;
  display: inline-block;
  border: 1px solid lightgray;
  padding: 5px;
  margin: 0 10px 0 40px;
}

#quantity > input {
  padding: 4px 10px;
  width: 15px;
  height: 18px;
  border: none;
}

#quantity > input:focus,
#checkPin > input:focus {
  outline: none;
}

#quantity > span {
  border: 0;
  width: 40px;
  height: 40px;
  color: lightgray;
  font-size: 12px;
  cursor: pointer;
}

#quantity > span:hover {
  color: rgb(252, 50, 171);
}

#cartBtn > label {
  color: black;
  font-weight: bold;
}

#cartBtn > button {
  background-color: rgb(212, 14, 133);
  border: none;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
#cartBtn > button:hover {
  background-color: rgb(241, 87, 180);
}

#wishlist {
  display: inline-block;
  padding: 9px 16px;
  margin-left: 10px;
  background-color: #666666;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

#wishlist:hover,
#checkPin > button:hover {
  border: 1px solid rgb(212, 14, 133);
  background-color: rgb(212, 14, 133);
}

#checkPin {
  width: 340px;
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(245, 245, 245);
}

#checkPin > label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

#checkPin > input {
  width: 240px;
  padding: 8px 0;
}

#checkPin > button {
  width: 80px;
  padding: 8px 0;
  background-color: rgb(68, 68, 68);
  border: 1px solid rgb(68, 68, 68);
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
  cursor: pointer;
}

/* policy code starts here */

#policy {
  width: 90%;
}
#policy > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  column-gap: 10px;
}

#policy > ul > li {
  background-color: whitesmoke;
  flex-grow: 1;
  padding: 5px 10px;
  text-transform: uppercase;
  position: relative;
  border: 1px solid #ccc;
}

#policy > ul > li > span {
  position: absolute;
  top: 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #666666;
  line-height: 1.66;
}

#policy > ul > li > img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* review code starts here */
#reviewDiv {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

#reviewDiv > div {
  display: flex;
  justify-content: space-between;
  color: rgb(44, 37, 37);
  font-size: 14px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 10px 15px;
}

#reviewDiv > div > p {
  margin: 0;
  text-transform: capitalize;
}
/* #reviewDiv > div > p::first-letter{
    text-transform: capitalize;
} */

#reviewDiv > div > p:last-child {
  font-weight: bold;
  font-size: 20px;
}

/* review code starts here */
