
.Pcontainer {
  text-align: center;
  width: 600px;
  margin: auto;
  margin-top: 100px;
}

.accounts {
  display: flex;
  width: 500px;
  margin: auto;
  gap: 10px;
}

.reg_container {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  height: 700px;
  text-align: left;
}
.content {
  width: 90%;
  padding-top: 10px;
  margin: auto;
  height: 600px;
}

.nameInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ninfo {
  width: 240px;
  height: 30px;
}

.button {
  margin-top: 20px;
  height: 30px;
  color: white;
  background-color: rgb(64, 62, 62);
  font-weight: 500;
}

.login {
  margin-top: 50px;
  /* float: left; */
  text-align: left;
}

.Lor > h4 {
  color: rgb(95, 93, 93);
  font-weight: 500;
}

.email {
  width: 530px;
  height: 30px;
}

.login p {
  font-weight: 400;
  font-size: 20px;
}

.login {
  width: 80%;
  margin-left: 150px;
  justify-content: space-around;
}

.rightdiv {
  width: 600px;
  padding: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding-right: 25px;
  padding-left: 25px;
}

.logindiv {
  display: flex;
  justify-content: space-between;
}

.form {
  padding-right: 25px;
  padding-left: 25px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 500px;
  height: 430px;
}

.lemail {
  width: 90%;
  height: 30px;
}

.image {
  width: 30px;
  height: 28px;
  border: 1px solid orangered;
  border-radius: 2px;
  cursor: pointer;
}

.fbgaccount1 .image {
  border: 1px solid gray;
}

.fbgaccount {
  height: 30px;
  color: white;
  display: flex;
}

.fbgaccount1 {
  height: 30px;
  color: white;
  display: flex;
}

.fbb {
  height: 30px;
  color: white;
  background-color: #46a;
  width: 200px;
  font-size: 14px;
  outline: none;
  border: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.gb {
  height: 30px;
  color: white;
  background-color: orangered;
  width: 200px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.Laccounts {
  width: 500px;
  display: flex;
  margin-left: 90px;
  gap: 10px;
}

.Lor {
  margin-left: 300px;
  width: 100px;
}

.loginp {
  font-size: 16px;
}

.lbutton {
  margin-top: 20px;
  height: 35px;
  color: white;
  background-color: black;
  border-radius: 5px;
}
